@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  line-height: 37.5px;
  font-size: 32px;
  letter-spacing: -1.5%;
  overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 48px !important;
    line-height: 56.25px !important;
  }

  h2 {
    font-size: 33.6px !important;
    line-height: 35.97px !important;
  }
}

.PhoneInputInput {
  width: 100%;
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: #ffffff;
}

.PhoneInputCountrySelect {
  font-size: 14px;
}

.PhoneInput {
  margin: 10px 0 20px;
  border: 1px solid #84848470 !important;
  padding: 10px 5px;
}

.PhoneInput--focus {
  border-color: unset;
}

.PhoneInputCountryIcon {
  height: 20px !important;
  background-color: unset !important;
  box-shadow: unset !important;
}

.pasa-TextInput-input {
  background: transparent;
  color: #ffffff;
}

.pasa-Textarea-input {
  background: transparent;
  color: #ffffff;
}

/* .pasa-Button-root {
  background: linear-gradient(182.04deg, #2072D2 1.72%, #A74C9A 86.43%);
  border-radius: 50px;
  font-weight: 500;
  padding: 17px 53px;
  width: 57px;
  font-size: x-large;
} */
.mantine-carousel-item-active {
  transform: scale(1.5);
}
